*,
main > aside {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	color: white;

	font-family: Arial, Helvetica, sans-serif;
}

input[type="file"] {
	width: 115px;
	color: transparent;
}

input {
	color: black;
}

header,
section,
aside {
	padding: 20px;
}

li {
	border-top-width: 4px !important;
	border-color: white !important;
	border-top-style: solid;

	list-style: none;
}

label {
	margin-top: 10px;
	font-size: 13px;
	display: block;
}

/* CABEÇALHO*/
body > header {
	display: flex;
	align-items: center;

	background-color: black;
}
body > header > span {
	color: white;
	margin-right: 20px;
}
body > header > div#rgb-color-picker {
	margin-right: 30px;

	width: 40px;
	height: 40px;
	background-color: white;
}

/* CENTRO */
main > section {
	display: flex;
	flex: 1;
}
main {
	min-height: 100vh;
	display: flex;
}
main > section > canvas {
	flex: 1;
}

/* BARRRA LATERAL */
main > aside {
	display: flex;
	flex-direction: column;

	overflow: hidden;

	min-width: 240px;
	background-color: blueviolet;
}
main > aside > header {
	justify-content: center;
	align-items: center;
}

/* ITEMS MENU LATERAL */
main > aside > li {
	padding: 20px;
	background-color: black;
}

main > aside > li > h1 {
	margin-bottom: 30px;
}

main > aside > li > div {
}

/* CLASSES */
.button {
	width: 100%;
	display: block;

	margin-top: 20px;
	padding: 8px 10px;

	border: none;
	border-radius: 5px;

	color: black;
	background-color: white;

	cursor: pointer;
	font-weight: 500;
}

.canvas-box {
	width: 500px;
	height: 700px;

	overflow: scroll;
}
